# Scraping module for Skyscraper
#module=screenscraper

# Create a miyoogamelist.xml file for each system. Set to "false" to disable. 
#gamelist="true"

# System directory to exclude
#exclude=(PORTS PICO)

# Skyscraper config file (no quotes)
#skyscraperini=~/.skyscraper/config.ini

# Replace colons in game titles in game list for better sorting
#replacecolons="true"

